/* Здесь хранятся все переменные стилей проекта. Указанные ниже переменные приведены в качестве демонстрации. */

// Размеры вьюпорта
$sm: 320px;
$md: 768px;
$xl: 1280px;
$xxl: 1288px; // $xxl: 1480px;

// Цвета
$white: #ffffff;
$white-cold: #FBFBFB;
$black: #000000;
$dark: #141414;
$main: #9E0059;
$main1: #CC1F81;
$main2: #8A1445;
$gray: #4D4D4D;
$light-gray: #9E9AA4;
$purple: #411936;
$main_bg: #ffffff;
$peach: #F89C86;
$bg: #ffffff;
$text: #181818;
$red: #E04243;

// Шрифты
$main-font: "Baltica", sans-serif;
$font-heading: 'Baltica', sans-serif;
$font-body: 'Baltica', sans-serif;